html {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    text-align: center;
    opacity: 0.9;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    position: fixed;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    z-index: 10px;
    align-items: center;
    justify-content: center;
    background-color: black;
}

header img {
    padding-left: 10px;
    height: 50px;
}

.logo {
    display: flex;
    flex-grow: 1;
    align-items: center;
    width: auto;
}

nav {
    padding-right: 10px;
}

nav span{
    display: inline-block;
    padding: 20px 10px;
    text-decoration: underline;
}

a {
    color: seashell;
}

div {
    display: block;
}

h2, h3, h4 {
    margin: 0px;
    padding: 10px;
}

content {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: auto;
    padding-top: 69px;
}

.flex-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.mission {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    height: 700px;
    width: 100%;
    background-image: url('../resources/img-mission-background.jpg');
}

.mission .txt {
    margin: auto;
    background-color: black;
    width: 100%;
}

.featured {
    width: 1000px;
}

.featured.card {
    width: 300px;
}

.featured.img {
    height: 200px;
    width: 300px;
}

.locations {
    height: 500px;
    width: 1200px;
    background-image: url('../resources/img-locations-background.jpg');
}

.locations.card {
    width: 300px;
    height: 300px;
    opacity: 1;
}

footer .contact {
    text-align: center;
    height: 200px;
    width: 100%
}

footer .copyright {
    text-align: left;
    margin-left: 20px;
}
